[req]
prompt = no
distinguished_name = dn

[dn]
CN = parnianpardazeshpars [Stamp]
serialNumber = 14567899154
O = Non-Governmental
1.OU = پرنیان پردازش پارس
C = IR
emailAddress = info@3pco.org
